body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

#gameContainer {
  width: 100%;
}

#board {
    background-color: lightgray;
    background-image: url('../assets/img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 1px solid black;
}
